<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/xhtml">
<head>

    <th:block th:fragment="fragmentHead">

    </th:block>

    <div th:remove="all">

        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

        <link type="text/css" rel="stylesheet" href="../../../static/css/jquery-ui.min.css" />
        <link type="text/css" rel="stylesheet" href="../../../static/css/styles.css" />
        <link type="text/css" rel="stylesheet" href="../../../static/css/bootstrap.css"/>
        <link type="text/css" rel="stylesheet" href="../../../static/css/screen.css"/>

        <script type="text/javascript" src="../../../static/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="../../../static/js/jquery-ui.min.js"></script>

        <script type="text/javascript" src="../../../static/js/bootstrap.js" ></script>
        <script type="text/javascript" src="../../../static/js/jquery.validate.js" ></script>

        <script type="text/javascript" src="../../../static/js/templates/user/profile.js"></script>
    </div>

</head>

<body>

<div class="container-fluid" th:fragment="profileInfoForm">

    <div class="row">
        <div class="col-md-12">
            <h1>Forma profila</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <!-- update korisnickih informacija -->
                        <form th:object="${user}">
                            <fieldset id="userInfoFieldset" style="border: hidden">
                                <!-- username, city -->
                                <div class="form-row justify-content-around">
                                    <div class="form-group col-md-4">
                                        <label th:for="username"></label>
                                        <input type="text" placeholder="Username" class="form-control"
                                               disabled="true" th:field="*{username}"/>
                                    </div>

                                    <div class="form-group col-md-4">
                                        <label th:for="city">City</label>
                                        <input type="text" value="" placeholder="City" class="form-control"
                                        th:field="*{city}"/>
                                    </div>
                                </div>

                                <!-- first, last name -->
                                <div class="form-row justify-content-around">
                                    <div class="form-group col-md-4">
                                        <label for="firstName">Username default</label>
                                        <input type="text" value="first name" placeholder="Your first name"
                                               class="form-control" id="firstName"/>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="lastName">Last name</label>
                                        <input type="text" value="last name" placeholder="Your last name"
                                               class="form-control" id="lastName"/>
                                    </div>
                                </div>

                                <!-- email, phone -->
                                <div class="form-row justify-content-around">
                                    <div class="form-group col-md-4">
                                        <label for="email">Email default</label>
                                        <input type="text" value="first name" placeholder="Email" class="form-control"
                                               id="email"/>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="lastName">Last name</label>
                                        <input type="text" value="last name" placeholder="333/333-22-22"
                                               class="form-control" id="phone"/>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <!-- buttons, edit mode-->
                <div id="btnsEditing" class="row justify-content-around mt-4" style="display: none">

                    <div class="col-md-4">

                        <button id="submit" class="btn btn-success">Potvrdi</button>
                        <button id="reset" class="btn btn-info ml-5">Reset</button>
                    </div>
                    <div class="col-md-4">

                        <button id="cancel" class="btn btn-danger">Poništi</button>
                    </div>
                </div>

                <!-- edit -->
                <div id="btnEdit" class="row justify-content-around mt-4">
                    <div class="col-md-4">

                        <button id="edit" class="btn btn-primary">Uredi</button>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>

                <script th:remove="all">

                    $(document).ready(function() {

                        $("#username").prop("disabled", true);
                        $("#userInfoFieldset").prop("disabled", true);

                        $(document).on("click", "#edit", function(event) {

                            $("#cityFieldset").prop("disabled", false);
                            $("#userInfoFieldset").prop("disabled", false);
                            $("#btnEdit").hide();
                            $("#btnsEditing").show();
                        });

                        $(document).on("click", "#cancel", function(event) {

                            $("#cityFieldset").prop("disabled", true);
                            $("#userInfoFieldset").prop("disabled", true);
                            $("#btnsEditing").hide();
                            $("#btnEdit").show();
                        });
                    });

                </script>

            </div>


        </div>
    </div>
</div>

</body>

</html>