<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org/">

<head>

    <!-- Ukljuceni bootstrap i jquery, i <title/> ocekuje u modelu 'title' -->
    <th:block th:include="fragments/main-fragment :: head-default">
    </th:block>

    <!-- static -->
    <div th:remove="all">

        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>

        <link href="../../../static/css/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
        <link href="../../../static/css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="../../../static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../../../static/css/screen.css" rel="stylesheet" type="text/css"/>

        <script src="../../../static/js/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script src="../../../static/js/jquery-ui.min.js" type="text/javascript"></script>

        <script src="../../../static/js/airportadmin.js" type="text/javascript"></script>

        <script src="../../../static/js/bootstrap.js" type="text/javascript"></script>
        <script src="../../../static/js/jquery.validate.js" type="text/javascript"></script>
    </div>

</head>

<body th:fragment="flights">

<div class="container-fluid">

    <!--naslov i dugmad za prikaz formi-->
    <div class="row justify-content-between">
        <div class="col-md-6">
            <h1>Letovi</h1>
        </div>

        <div class="col-md-6">
            <div class="container-fluid">
                <div class="row justify-content-end">
                    <button class="btn btn-success mr-3" id="showNewFlightFormBtn" type="button">Novi let</button>
                    <button class="btn btn-primary" id="flightsSearchBtn" type="button">Pretraga
                    </button>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <!--lista letova-->
    <div class="row">
        <div class="container-fluid" id="result">

        </div>

    </div>

</div>

</body>


<!--Novi let-->
<th:block th:fragment="newFlight">

    <!--novi let forma-->
    <div class="row" id="newFlightFormContainer" style="display: hidden;">

        <!--naslov-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Novi let</h2>
                </div>
            </div>
        </div>

        <!-- new flight -->
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">

                    <form th:object="${newFlightFormData}">

                        <!-- izbor avio kompanije -->
                        <div class="form-row justify-content-around">

                            <div class="form-group col-md-3">
                                <label th:for="${#ids.next('startPointCity')}"
                                       th:text="|Polazno odredište (grad)|"></label>
                                <input class="form-control" th:field="*{startPointCity}" type="text"/>
                            </div>

                            <div class="form-group col-md-3">
                                <label th:for="${#ids.next('startPointState')}"
                                       th:text="|Polazno odredište (država)|"></label>
                                <input class="form-control" th:field="*{startPointState}" type="text"/>
                            </div>


                            <div class="form-group col-md-4">
                                <label th:for="${#ids.next('startDate')}" th:text="|Od|"></label>
                                <input class="form-control" th:field="*{startDate}" type="date"/>
                            </div>

                        </div>

                        <!--Endpoint destination-->
                        <div class="form-row justify-content-around">

                            <div class="form-group col-md-3">
                                <label th:for="${#ids.next('endPointCity')}"
                                       th:text="|Krajnje odredište (grad)|"></label>
                                <input class="form-control" th:field="*{endPointCity}" type="text"/>
                            </div>
                            <div class="form-group col-md-3">
                                <label th:for="${#ids.next('endPointState')}"
                                       th:text="|Krajnje odredište (država)|"></label>
                                <input class="form-control" th:field="*{endPointState}" type="text"/>
                            </div>

                            <div class="form-group col-md-4">
                                <label th:for="${#ids.next('endDate')}" th:text="|Do|"></label>
                                <input class="form-control" th:field="*{endDate}" type="date"/>
                            </div>

                        </div>

                        <!--aviokompanija i avion-->
                        <div class="form-row justify-content-around">

                            <div class="form-group col-md-3">
                                <label th:for="${#ids.next('airlineCompanyId')}">Avion</label>
                                <select class="form-control" th:field="*{airplaneId}">
                                    <option th:each="airplane : ${airplanesOfCompaniesModel}"
                                            th:text="${airplane.name}"
                                            th:value="${airplane.id}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group col-md-3">
                                <label th:for="${#ids.next('airlineCompanyId')}">Aviokompanija</label>
                                <select class="form-control" th:field="*{airlineCompanyId}">
                                    <option th:each="airlineCompany : ${airlineCompaniesModel}"
                                            th:text="${airlineCompany.name}"
                                            th:value="${airlineCompany.id}">
                                    </option>
                                </select>
                            </div>


                            <!-- dugmad za pretragu -->
                            <div class="form-group col-md-4  pt-4 mt-2">

                                <button class="btn btn-primary mr-3" id="submitNewFlight" type="button">Potvrdi novi
                                    let
                                </button>
                                <button class="btn btn-secondary" type="reset">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <hr/>
</th:block>

<!--Pretraga letova-->
<th:block th:fragment="searchFlights">
    <div class="row" id="flightsSearchForm" style="display: hidden;">

        <!--naslov-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Izbor aviokompanije</h2>
                </div>
            </div>
        </div>

        <!-- search flights filter-->
        <div class="container-fluid">

            <div class="row">

                <div class="col-md-12">

                    <form th:object="${searchFlightsFormData}">

                        <!-- izbor avio kompanije -->
                        <div class="form-row justify-content-start">

                            <div class="form-group col-md-4">
                                <label th:for="${#ids.next('airlineCompanyId')}">Aviokompanija</label>
                                <select class="form-control" th:field="*{airlineCompanyId}">
                                    <option th:each="airlineCompany : ${airlineCompaniesModel}"
                                            th:text="${airlineCompany.name}"
                                            th:value="${airlineCompany.id}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <hr/>
                        <!-- Ostali filteri -->
                        <fieldset id="searchFlightAdditionalFields" style="border: hidden;">

                            <!--Startpoint-->
                            <div class="form-row justify-content-around">

                                <div class="form-group col-md-3">
                                    <label th:for="startPointCity" th:text="|Polazno odredište (grad)|"></label>
                                    <input class="form-control" th:field="*{startPointCity}" type="text"/>
                                </div>

                                <div class="form-group col-md-3">
                                    <label th:for="startPointState" th:text="|Polazno odredište (država)|"></label>
                                    <input class="form-control" th:field="*{startPointState}" type="text"/>
                                </div>

                                <div class="form-group col-md-3">
                                    <label th:for="startDate" th:text="|Od|"></label>
                                    <input class="form-control" th:field="*{startDate}" type="date"/>
                                </div>
                            </div>

                            <!--Endpoint-->
                            <div class="form-row justify-content-around">

                                <div class="form-group col-md-3">
                                    <label th:for="endPointCity" th:text="|Krajnje odredište (grad)|"></label>
                                    <input class="form-control" th:field="*{endPointCity}" type="text"/>
                                </div>
                                <div class="form-group col-md-3">
                                    <label th:for="endPointState" th:text="|Krajnje odredište (država)|"></label>
                                    <input class="form-control" th:field="*{endPointState}" type="text"/>
                                </div>
                                <div class="form-group col-md-3">
                                    <label th:for="endDate" th:text="|Do|"></label>
                                    <input class="form-control" th:field="*{endDate}" type="date"/>
                                </div>

                            </div>
                        </fieldset>

                        <hr/>

                        <!-- dugmad za pretragu -->
                        <div class="form-row justify-content-start">
                            <div class="container-fluid">
                                <button class="btn btn-primary mr-3" id="submitFlightForm" type="button">Pretraži
                                </button>
                                <button class="btn btn-secondary" type="reset">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <hr/>
</th:block >

<!--Rezultati-->
<th:block th:fragment="flightsresults" th:object="${flightsQueryResult}">

    <div class="container-fluid">

        <h1>
            REZULTATI PRETRAGE
        </h1>
    </div>
</th:block>


</html>



















