<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns="http://www.w3.org/1999/xhtml">

<head>

    <th:block th:include="fragments/main-fragment :: head-default">
    </th:block>

    <!-- js -->
    <script th:src="@{/js/templates/user/profile.js}" th:type="|text/javascript|"></script>
    <script th:src="@{/js/templates/user/fragments/profileInfo.js}" th:type="|text/javascript|"></script>

    <!-- static -->
    <div th:remove="all">

        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

        <link type="text/css" rel="stylesheet" href="../../static/css/jquery-ui.min.css" />
        <link type="text/css" rel="stylesheet" href="../../static/css/styles.css" />
        <link type="text/css" rel="stylesheet" href="../../static/css/bootstrap.css"/>
        <link type="text/css" rel="stylesheet" href="../../static/css/screen.css"/>

        <script type="text/javascript" src="../../static/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="../../static/js/jquery-ui.min.js"></script>

        <script type="text/javascript" src="../../static/js/bootstrap.js" ></script>
        <script type="text/javascript" src="../../static/js/jquery.validate.js" ></script>

        <script type="text/javascript" src="../../static/js/templates/user/profile.js"></script>
    </div>

</head>

<body>

    <div class="container-fluid">

        <!-- navbar -->
        <div class="row">
            <nav class="navbar navbar-default navbar-expand-sm bg-dark navbar-dark fixed-top">
                <ul class="navbar-nav">

                </ul>
            </nav>

        </div>

        <!-- naslov -->
        <div class="row  mt-5 bg-light">
            <div class="page-header">
                <h1>
                    User profile page
                </h1>
            </div>
        </div>

        <!-- refresh button, profile info -->
        <div class="row mt-3">
            <div class="col-md-12">

                <!-- refresh button -->
                <div class="row">
                    <div class="col-md-12">

                        <button type="button" class="btn btn-primary" id="buttonRefresh">
                            Refresh
                        </button>
                    </div>
                </div>

                <!-- Profil korisnika, Prijateljstva, zahtjevi poslati i primljeni -->
                <div class="row mt-2 bg-light py-2">

                    <div class="container-fluid bg-light">
                        <div id="tabs">
                            <ul>
                                <!-- #tabs-1-->
                                <li><a href="/registereduser/profile/info">Moj profil</a></li>
                                <li><a href="/registereduser/profile/friends">Prijateljstva</a></li>
                                <li><a href="/registereduser/profile/requests/sent">Moji zahtjevi</a></li>
                                <li><a href="/registereduser/profile/requests/pending">Primljeni zahtjevi</a></li>
                            </ul>

                            <!-- profileInfo -->
                            <div id="tabs-1" class="container-fluid">

                            </div>

                            <!-- friends -->
                            <div id="tabs-2" class="container-fluid">

                            </div>

                            <!-- sentRequests -->
                            <div id="tabs-3" class="container-fluid">

                            </div>

                            <!-- pendingRequests -->
                            <div id="tabs-4" class="container-fluid">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</body>

</html>